html {
  font-family: Times New Roman, serif;
   background-color: #3EB650;
   font-weight: bold;
   font-style: italic;
}
header {
	color: #CAE7DF;
	text-align: center;
}
header h2{
	font-size: 40px;
}

fieldset{
	font-size: 1.25em;
	margin: 1.3em;
	border: #150734 solid;
}

legend{
	text-align: center;
	font-size: 1.3em;

}
label input{
	height: 0.5em;
	width: 51%;
    margin: 0.5em 0;
	padding: 0.5em;
}

#submitButton{
	width: 50%;
	margin-left: 25%;
}

#resetButton{
	width: 50%;
	margin-left: 25%;
}

div{
  margin-bottom: 10px;
  position: relative;
}

input[type="number"]{
  width: 100px;
}

input + span{
  padding-right: 30px;
}

input:invalid+span:after{
  position: absolute; content: '✖';
  padding-left: 5px;
  color: #8b0000;
}

input:valid+span:after{
  position: absolute;
  content: '✓';
  padding-left: 5px;
  color: #009000;
}


